@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  text-rendering: geometricPrecision;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
  text-rendering: geometricPrecision;
  border: 0;
  color: #333;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: unset;
  color: inherit;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  color: #74b430;
}

img {
  display: block;
  max-width: 100%;
}

.mx-auto {
  margin: auto;
}

/*===========================================================================*/
.font-primary {
  font-family: "Arial", sans-serif;
}

.font-secondary {
  font-family: "Hind", sans-serif;
}

/*===========================================================================*/
.w-1140 {
  max-width: 71.25rem;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

/*===========================================================================*/
.fs-10 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-25 {
  font-size: 1.5625rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-40 {
  font-size: 2.5rem;
}

.fs-48 {
  font-size: 3rem;
}

/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 1.5rem;
  background-color: #fff;
  color: #fff;
  outline: none;
}

/*=================================================================*/
.thumb-img {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.thumb-item {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.thumb-5x3 {
  padding-bottom: 60%;
}

.thumb-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper {
  position: relative;
  display: block;
  padding-bottom: 60%;
}

.image-wrapper img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*=================================================================*/
.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-gray-22 {
  color: #222;
}

.text-gray-33 {
  color: #333;
}

.text-gray-44 {
  color: #444;
}

.text-gray-66 {
  color: #666;
}

.text-gray-77 {
  color: #777;
}

.text-gray-99 {
  color: #999;
}

.text-gray-cc {
  color: #ccc;
}

.text-gray-bb {
  color: #bbb;
}

.text-green-74 {
  color: #74b430;
}

.text-green-3d {
  color: #3daa12;
}

.text-blue-33 {
  color: #337ab7;
}

/*=================================================================*/
.bg-white {
  background-color: #fff;
}

.bg-gray-fa {
  background-color: #fafafa;
}

.bg-gray-ee {
  background-color: #eee;
}

.bg-gray-c3 {
  background-color: #c3c3c3;
}

.bg-gray-28 {
  background-color: #282828;
}

.bg-green-74 {
  background-color: #74b430;
}

.bg-green-3d {
  background-color: #3daa12;
}

/*=================================================================*/
.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/*=================================================================*/
.pt-8 {
  padding-top: 0.5rem;
}

.pb-8 {
  padding-bottom: 0.5rem;
}

.pl-8 {
  padding-left: 0.5rem;
}

.pr-8 {
  padding-right: 0.5rem;
}

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-8 {
  padding: 0.5rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-8 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.m-8 {
  margin: 0.5rem;
}

/*=================================================================*/
.pt-10 {
  padding-top: 0.625rem;
}

.pb-10 {
  padding-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.pr-10 {
  padding-right: 0.625rem;
}

.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.px-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-10 {
  padding: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.mx-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-10 {
  margin: 0.625rem;
}

/*=================================================================*/
.pt-12 {
  padding-top: 0.75rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-12 {
  padding: 0.75rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-12 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.m-12 {
  margin: 0.75rem;
}

/*=================================================================*/
.pt-15 {
  padding-top: 0.9375rem;
}

.pb-15 {
  padding-bottom: 0.9375rem;
}

.pl-15 {
  padding-left: 0.9375rem;
}

.pr-15 {
  padding-right: 0.9375rem;
}

.py-15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.px-15 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.p-15 {
  padding: 0.9375rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.ml-15 {
  margin-left: 0.9375rem;
}

.mr-15 {
  margin-right: 0.9375rem;
}

.my-15 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.mx-15 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.m-15 {
  margin: 0.9375rem;
}

/*=================================================================*/
.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-20 {
  padding: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-20 {
  margin: 1.25rem;
}

/*=================================================================*/
.mt-24 {
  margin-top: 1.5rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.ml-24 {
  margin-left: 1.5rem;
}

.mr-24 {
  margin-right: 1.5rem;
}

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-24 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.m-24 {
  margin: 1.5rem;
}

/*=================================================================*/
.border-999 {
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.border-4 {
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.border-6 {
  border-radius: 0.375rem;
  overflow: hidden;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}

/*=================================================================*/
.fix-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*=================================================================*/
.lh-15 {
  line-height: 0.9375rem;
}

.lh-18 {
  line-height: 1.1875rem;
}

.lh-22 {
  line-height: 1.375rem;
}

.lh-24 {
  line-height: 1.5rem;
}

.lh-26 {
  line-height: 1.625rem;
}

.lh-28 {
  line-height: 1.75rem;
}

.lh-30 {
  line-height: 1.875rem;
}

.lh-32 {
  line-height: 2rem;
}

.lh-34 {
  line-height: 2.125rem;
}

.lh-46 {
  line-height: 2.875rem;
}

/*=================================================================*/
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-italic {
  font-style: italic;
}

.text-uppercase {
  text-transform: uppercase;
}

/*=================================================================*/
.d-2xl-none {
  display: none;
}

.d-2xl-block {
  display: block;
}

.d-2xl-flex {
  display: flex;
}

.d-2xl-grid {
  display: grid;
}

/*=================================================================*/
.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-0 {
  flex-shrink: 0;
}

.flex-1 {
  flex: 1;
}

/*=================================================================*/
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

/*=================================================================*/
.gap-10 {
  grid-gap: 0.625rem;
}

.gap-20 {
  grid-gap: 1.25rem;
}

.gap-30 {
  grid-gap: 1.875rem;
}

#header {
  position: relative;
  z-index: 99999 !important;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-static-top {
  z-index: 1000;
  border-radius: 0;
}

.navbar-default {
  background: #fafafa;
  border: none;
  margin: 0;
}

.nav-contain {
  background-color: #282828;
}

.navbar-header h1 {
  display: block;
  overflow: hidden;
  margin: 0;
}

.navbar-brand {
  display: inline-block;
  padding: 15px 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 100px;
  width: 253px;
  line-height: 20px;
  font-size: 26px;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  background-position: 0 0;
  color: #222 !important;
  text-transform: capitalize;
  letter-spacing: 2.5px;
  border: none;
}

.sprite {
  background-image: url(https://static.mediacdn.vn/danviet/web_images/trangtraiviet_new.png);
  background-size: 500px;
  background-repeat: no-repeat;
}

.nav-list-container {
  width: 100%;
  background: #282828;
  position: relative;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav > li:hover a {
  color: #222;
  background: #fafafa;
}
.navbar-nav > li:hover > a:before, .navbar-nav > li > a.active:before {
  background: #74b430;
}
.navbar-nav > li > a {
  color: #fff;
  font-size: 13px;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.navbar-nav > li > a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  z-index: 1;
  background: transparent;
}
.navbar-nav > li > a.active {
  color: #222;
  background: #fafafa;
}
.navbar-nav > li > a.active:before {
  background: #74b430;
}
.navbar-nav > li.drop {
  position: relative;
}
.navbar-nav > li.drop-arrow > a {
  padding-right: 30px;
}
.navbar-nav > li.drop-arrow > a:after {
  content: "❯";
  position: absolute;
  font-weight: 900;
  font-size: 11px;
  color: #fff;
  top: 20px;
  right: 13px;
  transform: rotate(90deg);
}
.navbar-nav > li.drop ul.dropdown {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 182px;
  background: #fff;
  border-top: 3px solid #74b430;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
.navbar-nav > li.drop ul.dropdown li {
  display: block;
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav > li.drop ul.dropdown li a {
  display: inline-block;
  text-decoration: none;
  display: block;
  color: #999;
  font-size: 11px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 20px;
  background: #fff;
}
.navbar-nav > li.drop:hover > ul.dropdown {
  opacity: 1;
  visibility: visible;
}
.navbar-nav > li.drop ul.dropdown li a:hover {
  color: #222;
  background: #fafafa;
}

.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.navbar-form {
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
}

.navbar-form {
  margin: 10px 0;
  padding: 0;
  position: relative;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}

.navbar-form input[type=text] {
  border: 1px solid #eee;
  padding: 10px;
  color: #999;
  font-size: 11px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  width: 200px;
  margin: 0 !important;
}

.navbar-form .search-submit-btn {
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 13px;
  padding: 0;
  font-size: 13px;
  color: #666;
}

.navbar-form .search-submit-btn .icon {
  width: 16px;
  height: auto;
}

/*===== mobile =====*/
.nav-mb {
  border-bottom: 2px solid #c90202;
  height: 56px;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
}
.nav-mb .nav-mb__img {
  height: 60px;
  width: auto;
}
.nav-mb.active .side-overlay {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

.side-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  will-change: opacity;
}

.nav-mb__left.active .nav-box-mb {
  left: 0;
}

.nav-mb__left .icon-bar {
  width: 20px;
  height: auto;
}
.nav-mb__right .icon-extend {
  width: 20px;
  height: auto;
}

.nav-box-mb {
  position: fixed;
  width: 240px;
  top: 0;
  margin: 0;
  height: 100%;
  padding-bottom: 60px;
  z-index: 9999;
  overflow-y: auto;
  background: #386426;
  color: #fff;
  transition: all 0.2s linear;
  left: -240px;
}
.nav-box-mb .search-box {
  padding: 15px 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.nav-box-mb .search-form {
  padding: 0 10px;
  background: #fff;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  position: relative;
}
.nav-box-mb .search-form input[type=text] {
  height: auto;
  margin: 0;
  width: calc(100% - 25px);
  border: none;
  padding: 5px 20px;
  font-size: 15px;
}
.nav-box-mb .search-submit-btn {
  color: #999;
  display: inline-block;
  background: transparent;
  border: none;
  position: absolute;
  top: 5px;
  left: 10px;
  padding: 0;
}
.nav-box-mb .search-submit-btn .icon {
  width: 16px;
  height: auto;
}
.nav-box-mb .nav-item {
  padding: 0 20px;
}
.nav-box-mb .nav-item .icon-down {
  width: 12px;
  height: auto;
}
.nav-box-mb .nav-item a {
  display: block;
  padding: 10px 0;
  position: relative;
}
.nav-box-mb .nav-item a:before {
  content: "❯";
  margin-right: 20px;
  font-size: 12px;
}
.nav-box-mb .nav-sub {
  padding-left: 15px;
  display: none;
}
.nav-box-mb .nav-item__heading.active ~ .nav-sub {
  display: block;
}

.nav-mb__right.active .newstop-box-mb {
  right: 0;
}

.newstop-box-mb {
  position: fixed;
  width: 240px;
  right: -240px;
  top: 0;
  margin: 0;
  height: calc(100% + 60px);
  padding-bottom: 60px;
  z-index: 9999;
  overflow-y: auto;
  background: #386426;
  color: #fff;
  transition: all 0.2s linear;
}
.newstop-box-mb .newstop-title {
  background-color: #000;
  white-space: nowrap;
}
.newstop-box-mb .newstop-title span {
  font-weight: 700;
  display: block;
  width: 110px;
  text-align: center;
  border-bottom: 2px solid #f00;
  line-height: 48px;
}
.newstop-box-mb .newstop-item {
  padding: 13px 10px;
  border-bottom: 1px solid #222;
}
.newstop-box-mb .newstop-item__img {
  width: 30%;
}

.box-time {
  text-align: right;
  position: relative;
}
.box-time::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #eee;
  transform: translateY(-50%);
}
.box-time span {
  position: relative;
  display: inline-block;
  padding-left: 10px;
  background-color: #fff;
}

.icon-clock {
  width: 12px;
  height: auto;
  display: inline-block;
  flex-shrink: 0;
}

.farm-wrapper {
  grid-template-columns: 160px 1fr 300px;
  margin-left: -160px;
}

.box-focus {
  margin-bottom: 36px;
  border: 1px solid #eee;
}
.box-focus .box-focus__heading {
  background: #fff;
  background: -moz-linear-gradient(top, #fff 1%, #f7f7f7 100%);
  background: -webkit-linear-gradient(top, #fff 1%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #fff 1%, #f7f7f7 100%);
  margin-bottom: 20px;
}
.box-focus .box-focus__heading span {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 13px;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: #eee;
}
.box-focus .box-focus__container {
  padding: 0 10px 10px;
}
.box-focus .box-focus__large {
  grid-column: 1/3;
}
.box-focus .box-focus__large .badges {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  font-family: "Arial", sans-serif;
  padding: 2px 10px;
  background: #333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  z-index: 2;
  text-transform: uppercase;
}
.box-focus .box-focus__large .article {
  display: none;
}
.box-focus .box-focus__large .article.active {
  display: block;
}
.box-focus .box-focus__small .box-focus__item {
  padding: 8px 10px;
  transition: all 0.2s;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}
.box-focus .box-focus__small .box-focus__item.active {
  background-color: #74b430;
  color: #fff;
}
.box-focus .box-focus__small .box-focus__item.active .box-focus__public, .box-focus .box-focus__small .box-focus__item.active i {
  color: #fff;
}
.box-focus .box-focus__small .box-focus__public {
  margin-top: 5px;
}

.box-articles {
  margin-top: 15px;
  margin-bottom: 30px;
}
.box-articles .box-header {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box-articles .box-header a {
  border-bottom: 1px solid #717171;
  padding-bottom: 16px;
  display: inline-block;
}
.box-articles .box-header a:hover {
  text-decoration: underline;
}

.box-primary .box-articles__large .box-articles__content {
  padding: 18px 0 20px;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  transition: all 0.2s;
}
.box-primary .box-articles__large .box-articles__content:hover {
  background-color: #fff;
}
.box-primary .box-articles__large .box-articles__title {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
}
.box-primary .box-articles__large .box-articles__des {
  font-size: 14px;
  color: #666;
  line-height: 20px;
  margin-bottom: 10px;
}
.box-primary .box-articles__small .box-articles__item {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
}
.box-primary .box-articles__small .box-articles__img {
  width: 35%;
  flex-shrink: 0;
}
.box-primary .box-articles__small .box-articles__content {
  flex: 1;
  margin-left: 20px;
}
.box-primary .box-articles__small .box-articles__title {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 7px;
}

.box-secondary .box-articles__item .box-articles__content {
  padding: 15px 10px 0;
}
.box-secondary .box-articles__item .box-articles__title {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
}

.box-third .box-articles__col {
  overflow: hidden;
  position: relative;
}
.box-third .box-articles__large .box-articles__content {
  padding: 18px 0 20px;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  transition: all 0.2s;
}
.box-third .box-articles__large .box-articles__content:hover {
  background-color: #fff;
}
.box-third .box-articles__large .box-articles__title {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
}
.box-third .box-articles__small {
  margin: 30px 0;
}
.box-third .box-articles__small .box-articles__item {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
}
.box-third .box-articles__small .box-articles__title {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
}

.box-fourth .box-articles__item {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
}
.box-fourth .box-articles__img {
  width: 35%;
  flex-shrink: 0;
}
.box-fourth .box-articles__content {
  flex: 1;
  margin-left: 20px;
}
.box-fourth .box-articles__title {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 7px;
}

.box-right {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.box-right .box-header {
  color: #222;
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 30px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
  background: #74b430;
  margin-bottom: 10px;
}
.box-right .box-articles__item {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.box-right .box-articles__img {
  width: 35%;
  flex-shrink: 0;
}
.box-right .box-articles__title {
  flex: 1;
  margin-left: 20px;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 7px;
}
.box-right .box-articles__content {
  margin-top: 10px;
}
.box-right .box-articles__des {
  font-size: 14px;
  margin-bottom: 10px;
}
.box-right .box-articles__link {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #337ab7;
  font-style: italic;
}
.box-right .box-articles__link:hover {
  color: #23527c;
  text-decoration: underline;
}

/*----------------------------------------------------------------mobile*/
.coating::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(360deg, #000000 6.09%, rgba(0, 0, 0, 0.64) 23.91%, rgba(0, 0, 0, 0) 43.31%);
}

.main-mb {
  margin-top: 56px;
}

.box-top-mb {
  position: relative;
  overflow: hidden;
}
.box-top-mb .articles-content {
  left: 0;
  bottom: 0;
  padding: 20px 15px;
  z-index: 12;
}
.box-top-mb .article-title {
  margin-bottom: 4px;
}
.box-top-mb .swiper-pagination-bullet {
  background: #999;
}
.box-top-mb .swiper-pagination-bullet-active {
  background: #fff;
}

.article-box .article-header {
  border-bottom: 1px solid #999;
  line-height: 1;
}
.article-box .article-header .icon {
  width: 17px;
  height: auto;
}
.article-box .article-header a {
  border-bottom: 1px solid #f00;
  display: inline-block;
  padding: 5px 0;
}
.article-box .article-list .article-item {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.article-box .article-list .article-img {
  width: 30%;
}
.article-box .article-list .article-title {
  margin-bottom: 5px;
}

.box-cate .breadcrumbs {
  margin: 15px 0 30px;
  border-bottom: 1px solid #e1e1e1;
}
.box-cate .breadcrumbs .breadcrumbs-list {
  flex-wrap: nowrap;
  overflow: hidden;
}
.box-cate .breadcrumbs .breadcrumbs-title {
  display: inline-block;
  padding-bottom: 6px;
  padding-right: 5px;
  border-bottom: 1px solid #717171;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  text-transform: uppercase;
  color: #74b430;
}
.box-cate .breadcrumbs .breadcrumb-item {
  font-size: 12px;
  color: #8f8f8f;
  font-weight: bold;
  padding: 0 8px;
  flex-shrink: 0;
}
.box-cate .breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
  content: "⁄";
  margin-right: 16px;
}
.box-cate .box-cate__list .box-articles__item {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.box-cate .box-cate__list .box-articles__item:not(:first-child) {
  padding-top: 20px;
}
.box-cate .box-cate__list .box-articles__img {
  width: 25%;
  flex-shrink: 0;
}
.box-cate .box-cate__list .box-articles__content {
  flex: 1;
  margin-left: 30px;
}
.box-cate .box-cate__list .box-articles__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  color: #337ab7;
}
.box-cate .box-cate__list .box-articles__title a:hover {
  color: #23527c;
  text-decoration: underline;
}
.box-cate .box-cate__list .box-articles__des {
  font-size: 14px;
  color: #666;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 10px;
}
.box-cate .load-more {
  display: block;
  margin-bottom: 20px;
  text-align: right;
  padding-right: 20px;
  color: #337ab7;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
}
.box-cate .load-more:hover {
  color: #23527c;
  text-decoration: underline;
}

.box-detail .breadcrumb + .breadcrumb::before {
  content: "❯";
  margin: 0 10px;
  font-size: 10px;
}
.box-detail .detail-content p {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 20px;
  color: #666;
}
.box-detail .detail-content figure figcaption {
  display: block;
  padding: 10px;
  text-align: center;
  font-family: "arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #0000ff;
  background-color: #fff;
  max-width: 100%;
  line-height: 18px;
  margin-bottom: 15px;
}
.box-detail .detail-content figure figcaption .expEdit {
  font-weight: normal;
  margin: 0;
}
.box-detail .detail-content figure figcaption em {
  font-weight: normal;
  font-style: italic;
}
.box-detail .detail-content .author {
  text-align: right;
  margin-right: 30px;
  font-weight: bold;
  font-style: italic;
  color: #808080;
}
.box-detail .detail-related {
  margin-top: 25px;
  margin-bottom: 15px;
}
.box-detail .detail-related .more-text {
  padding-left: 10px;
  display: block;
  font-size: 12px;
  color: #666;
  text-align: left;
  font-family: Arial;
  line-height: 28px;
}
.box-detail .detail-related .box-articles__item {
  border: 1px solid #e3e3e3;
  border-left: 1px solid #fc915c;
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
}
.box-detail .detail-related .box-articles__img {
  width: 20%;
  flex-shrink: 0;
  order: 2;
}
.box-detail .detail-related .box-articles__content {
  flex: 1;
  padding: 10px 7px;
  order: 1;
}
.box-detail .detail-related .box-articles__title {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 12px;
}
.box-detail .detail-tags {
  margin: 30px 0;
  align-items: baseline;
}
.box-detail .detail-tags .detail-tags__list {
  flex-wrap: wrap;
}
.box-detail .detail-tags .detail-tags__item {
  margin: 0 5px 15px 0;
}
.box-detail .detail-tags .tag-link {
  color: #337ab7;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 6px;
}

.detail__comment .box-comment .text svg, .detail__comment .list-comment .item .box-reply-content .item-content .item-bottom .like-action .ic-like {
  margin-right: 5px;
}

.icofb, .icotw {
  width: 22px;
  height: 22px;
}

.blNoLogin .inval, .cm-share {
  position: relative;
}

.box-bottom.isLogin .box-user .name, .detail__comment.box-comment-v2 .list-comment .item .box-reply-content .item-content .item-bottom .like-action .total-like {
  margin-left: 5px;
}

.detail__comment .box-comment {
  width: 100%;
}

.detail__comment .box-comment .text {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  display: flex;
  align-items: center;
}

.blNoLogin .input-info input, .detail__comment .box-comment .btn-comment {
  background: #fafafa;
  line-height: 26px;
  font-style: normal;
  font-family: inherit;
}

.detail__comment .box-comment .btn-comment {
  border: 1px solid #e9ebec;
  border-radius: 4px;
  width: 100%;
  height: 55px;
  resize: none;
  padding: 8px;
  min-height: 84px;
  font-weight: 400;
  font-size: 16px;
  color: #8c8c8c;
  margin: 14px 0;
  border-left: 2.5px solid #005bb2;
}

.detail__comment .box-comment .box-bottom {
  text-align: right;
}

.detail__comment .box-comment .box-bottom .btn-submit {
  display: inline-block;
  background: #0959ab;
  border-radius: 4px;
  padding: 12px 24px;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.detail__comment .list-comment .item .box-reply .item-reply, .detail__comment .list-comment .item .item-reply, .detail__comment.box-comment-v2 .list-comment .item .item-reply {
  padding-top: 16px;
}

.detail__comment .list-comment {
  padding-top: 24px;
  margin-top: 8px;
}

.detail__comment .cmbl .title {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.detail__comment .list-comment .item {
  margin-bottom: 24px;
  display: flex;
  border-bottom: 1px solid #e8e8e8;
}

.detail__comment .list-comment .item:last-child {
  border: 0;
}

.detail__comment .list-comment .item .avatar {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 13px;
  border-radius: 50%;
  overflow: hidden;
}

.detail__comment .list-comment .item .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail__comment .list-comment .item .item-content {
  width: calc(100% - 53px);
}

.detail__comment .list-comment .item .item-content .user-name {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  display: block;
  margin-bottom: 4px;
}

.detail__comment .list-comment .item .item-content .text-comment {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000;
  margin-bottom: 16px;
}

.detail__comment .list-comment .item .item-content .item-bottom {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #8b8b8b;
  display: flex;
  align-items: center;
}

.detail__comment .list-comment .item .item-content .item-bottom .item-ls {
  display: block;
  margin-right: 24px;
  margin-bottom: 0;
}

.detail__comment .list-comment .item .item-content .item-bottom .item-ls:last-child {
  margin-right: 0;
}

.detail__comment .list-comment .item .box-reply {
  border-left: 1px solid #ebebeb;
  padding-left: 16px;
  margin-top: 16px;
}

.detail__comment .list-comment .item .box-reply .item-reply {
  display: flex;
  margin-bottom: 16px;
  padding-top: 16px;
}

.detail__comment .view-more {
  display: block;
  padding: 10px 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  margin: auto;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background: #f5f6f8;
  color: #0959ab;
  text-align: center;
}

.detail__comment .list-comment .item .item-content .item-bottom .txt-like, .detail__comment .view-more.hidden {
  display: none !important;
}

.detail__comment .list-comment .item .item-content .item-bottom .like-action, .detail__comment.box-comment-v2 .list-comment .item .box-reply-content .item-content .item-bottom .item-ls.cm-share, .detail__comment.box-comment-v2 .list-comment .item .box-reply-content .item-content .item-bottom .item-ls.rep, .detail__comment.box-comment-v2 .list-comment .item .box-reply-content .item-content .item-bottom .like-action {
  display: block !important;
}

.blNoLogin .input-info input {
  width: 100%;
  height: 40px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  color: #8b8b8b;
  padding: 0 8px;
}

#boxCommentPopup .box-bottom.isLogin .login-comment, .box-comment .input-info {
  display: none;
}

.icofb, .icotw {
  display: inline-block;
}

.blNoLogin .box-comment .input-info {
  display: grid;
  column-gap: 20px;
  justify-content: space-between;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  margin-bottom: 20px;
}

.blNoLogin .erroMail:after, .blNoLogin .inval.t-content:after, .blNoLogin .inval.umail:after {
  font: 400 13px/15px arial;
  color: #9f224e;
  display: block;
}

.blNoLogin .inval .require {
  border: 1px solid #9f224e;
}

.blNoLogin .inval.t-content:after {
  content: "Bạn chưa nhập nội dung bình luận.";
  width: 100%;
  bottom: 10px;
  left: 0;
  position: absolute;
}

.blNoLogin .inval.t-content {
  padding-bottom: 15px;
}

.blNoLogin .inval.umail:after {
  content: "Hãy nhập email";
  margin-top: 4px;
}

.blNoLogin .inval.uname:after {
  content: "Hãy nhập họ và tên";
  font: 400 13px/15px arial;
  color: #9f224e;
  margin-top: 4px;
}

.blNoLogin .box-comment:has(.inval) .input-info {
  margin-bottom: 26px;
}

.blNoLogin .erroMail:after {
  content: "Email bạn nhập không hợp lệ";
  margin-top: 4px;
}

#commentNologin {
  font-family: inherit;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #858585;
  cursor: pointer;
}

@media (max-width: 767px) {
  .blNoLogin .box-comment .input-info {
    grid-template-columns: 100%;
    row-gap: 10px;
    margin-bottom: unset;
  }

  .blNoLogin .box-comment:has(.inval) .input-info {
    margin-bottom: -10px;
  }
}
.item-bottom .ic-like {
  width: 18px !important;
  height: 18px !important;
  background: url("https://static.mediacdn.vn/images/icon_like_line.png") 0 0/cover no-repeat;
  display: inline-block;
  vertical-align: bottom;
}

.detail__comment .list-comment .item .item-content .item-bottom .active .ic-like {
  background: url("https://thanhnien-static.mediacdn.vn/thanhnien.vn/image/icon_liked.png") 0 0/cover no-repeat !important;
}

.icofb {
  background-position: -16px -422px !important;
}

.wrapsharecmt button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: 0;
}

.icotw {
  background-position: -16px -498px !important;
}

.spritecmt {
  margin: 6px;
  background: url("https://static.mediacdn.vn/images/sprite_comment.svg") no-repeat;
}

.icofb:hover {
  background-position: -16px -460px !important;
}

.icotw:hover {
  background-position: -16px -536px !important;
}

.cm-share {
  cursor: pointer;
}

.modal__bg, .modal__commentpopup {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity 0.3s linear;
}

.cm-share:hover .wrapsharecmt {
  display: flex;
  position: absolute;
  top: -35px;
}

.wrapsharecmt {
  display: none;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  z-index: 9;
}

.list-comment span.time.time-ago {
  font-weight: 400;
}

.cm-share .send-messenger {
  width: 20px;
  height: 20px;
}

.cm-share .send-messenger:hover svg, .cm-share .send-messenger:hover svg path {
  fill: #0084ff;
}

.box-comment-v2 {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  background: #fafafa;
  padding: 16px;
}

.box-comment-v2 .view-more {
  border: 1px solid #ebebeb !important;
  border-radius: 4px !important;
  background: #fff !important;
  color: #0098d1 !important;
}

.box-comment-v2 .username-reply {
  font-weight: 600;
}

.detail__comment.box-comment-v2 .box-comment .btn-comment, .detail__comment.box-comment-v2.blNoLogin .input-info input {
  background: #fff !important;
}

.detail__comment.box-comment-v2 .box-comment .btn-comment {
  height: 80px;
}

#boxCommentPopup .box-comment-v2.detail__comment .box-reply-content .box-comment, #boxCommentPopup .detail__comment.box-comment-v2 .formreplaycomment .box-comment {
  padding: 0;
  background: #fff;
  border: 0;
}

#boxCommentPopup .box-comment-v2.detail__comment .box-reply-content .btn-comment, #boxCommentPopup .detail__comment.box-comment-v2 .formreplaycomment .btn-comment, #boxCommentPopup .detail__comment.box-comment-v2.blNoLogin .box-reply-content .input-info input, #boxCommentPopup .detail__comment.box-comment-v2.blNoLogin .formreplaycomment .box-comment .input-info input, #boxCommentPopup.detail__comment.box-comment-v2.blNoLogin .box-reply-content .input-info input {
  background: #fafafa !important;
}

.detail__comment.box-comment-v2 .box-comment .box-bottom .btn-submit {
  color: #fff !important;
}

.detail__comment.box-comment-v2 .list-comment .item {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.detail__comment.box-comment-v2 .list-comment .item:last-child {
  border-bottom: 0;
  margin-bottom: 16px;
  padding-bottom: 0;
}

.detail__comment.box-comment-v2 .list-comment .item .box-reply {
  margin: 0;
  width: 100%;
}

.detail__comment.box-comment-v2 .box-comment .text {
  font-family: inherit;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  width: 100%;
  justify-content: center;
}

.box-bottom.isLogin .box-user .name, .title-comment .scoll-comment {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.detail__comment.box-comment-v2 .list-comment .item:first-child {
  padding-top: 0;
}

.open-modalcomment .modal__bg {
  visibility: visible;
  opacity: 0.6;
}

.modal__bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000 !important;
  z-index: 9999 !important;
}

.mobile.modal__bg {
  z-index: 97 !important;
}

.modal__commentpopup {
  z-index: 99999;
  left: 50%;
  top: 50%;
  margin: auto;
  width: 672px;
  height: calc(100vh - 80px);
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%);
}

.modal__commentpopup.mobile {
  bottom: 0;
  width: 100%;
  z-index: 999999;
  height: 90%;
  top: auto;
  transform: none;
  left: 0 !important;
}

.modal__commentpopup .modal__content {
  overflow: hidden;
  height: 100%;
}

#boxCommentPopup .box-comment-v2 {
  padding: 0;
  background: #fff;
  border: none;
}

#boxCommentPopup .box-comment-v2.detail__comment .box-comment {
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid #e8e8e8;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#boxCommentPopup .box-comment-v2.detail__comment .cmbl {
  padding: 0 32px 24px;
  height: max-content;
  overflow-y: auto;
  max-height: 620px;
}

#boxCommentPopup .box-comment-v2.detail__comment .filter_coment {
  padding: 24px 16px 8px 0;
  margin: 0 16px;
}

#boxCommentPopup .box-comment-v2.detail__comment .filter_coment a {
  padding-bottom: 8px;
}

#boxCommentPopup .box-comment-v2.detail__comment .filter_coment a.active {
  border-bottom: 1px solid #e81d1a;
}

.modal__commentpopup .close-modal {
  position: absolute;
  right: 16px;
  top: 16px;
}

.modal__commentpopup.mobile .close-modal {
  right: 15px;
}

body.open-modalcomment, body.show-alert-box {
  overflow: hidden;
}

#boxCommentPopup .login-comment {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
  color: #8b8b8b;
}

#boxCommentPopup .box-bottom {
  font-family: Inter;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

#boxCommentPopup .box-comment-v2.detail__comment .cmbl::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#boxCommentPopup .box-comment-v2.detail__comment .cmbl::-webkit-scrollbar-thumb {
  background-color: #0098d1;
  border-radius: 4px;
}

#boxCommentPopup .box-comment-v2.detail__comment .cmbl::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.mobile #boxCommentPopup .box-comment-v2.detail__comment .box-comment {
  padding: 24px 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.mobile #boxCommentPopup .box-comment-v2.detail__comment .filter_coment {
  margin: 0 15px;
}

.mobile #boxCommentPopup .box-comment-v2.detail__comment .cmbl {
  padding: 24px 15px;
}

.alert-box.show {
  z-index: 100;
  height: 100%;
}

.title-comment {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-comment .scoll-comment {
  color: #0959ab;
  line-height: 130%;
}

.filter_coment {
  color: #b0b0b0;
  border-bottom: 1px solid #e0e0e0;
  line-height: 1.3;
  margin-top: 24px;
  padding-bottom: 10px;
}

.filter_coment a {
  color: #8c8c8c;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  padding: 10px;
}

.filter_coment a.active {
  color: #005bb2;
  border-bottom: 1px solid #005bb2;
}

.filter_coment a:first-child {
  padding-left: 0;
}

.btn-close-square {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50% !important;
  padding: 5px !important;
  display: flex;
}

.alert-box.login-box.show .alert-content {
  min-height: 150px;
}

.alert-box .btn-login {
  color: #0959ab;
}

.detail__scroll-action .detail-social .icon {
  flex-direction: column;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.box-comment-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  background: #f5f6f8;
}

.open-modalcomment .modal__commentpopup {
  visibility: visible;
  opacity: 1;
  border-radius: 8px;
}

.box-bottom.isLogin .box-user {
  display: flex;
  align-items: center;
}

.box-bottom.isLogin .box-user .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.mob .detail__comment .box-comment .text, .mob .title-comment .scoll-comment {
  font-size: 16px !important;
}

#detail_comment .active {
  background: transparent;
}

#detail_comment a {
  color: #222;
}

.detail__comment .list-comment .item .item-content .text-comment {
  font-family: Arial;
}

.detail__comment .box-comment .box-bottom .btn-submit {
  color: #fff !important;
  background: #008837;
}

.detail__comment .box-comment {
  width: 100%;
}

#back-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #23533f;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#back-top .icon {
  width: 16px;
  height: auto;
}

.footer {
  background: #c3c3c3;
  padding-top: 62px;
}

.footer-top {
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
}
.footer-top__left img.icon {
  width: auto;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  flex-shrink: 0;
}
.footer-top__left .link {
  color: #337ab7;
}
.footer-top .footer-heading {
  padding-bottom: 25px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  border-bottom: 1px solid #333;
}
.footer-top .text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #666;
}
.footer-top .text i {
  font-size: 12px;
  margin-right: 4px;
}
.footer-top .box-articles__item {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.footer-top .box-articles__img {
  width: 30%;
  flex-shrink: 0;
}
.footer-top .box-articles__content {
  flex: 1;
  margin-left: 20px;
}
.footer-top .box-articles__title {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 7px;
}

.footer-bot {
  padding: 30px 0;
}
.footer-bot .footer-bot__list {
  display: flex;
  flex-wrap: wrap;
}
.footer-bot .footer-bot__item {
  margin: 2px 0;
}
.footer-bot .footer-bot__item + .footer-bot__item::before {
  content: "❘";
  margin-left: 10px;
  margin-right: 10px;
}
.footer-bot .footer-bot__item a:hover {
  color: #fff;
}

/*--------------------------------------------------------------mobile*/
.footer-mb {
  background-color: #000;
  padding: 25px 15px;
}
.footer-mb .footer-social .social-item {
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 5px;
}
.footer-mb .footer-social .social-item .icon {
  height: 15px;
  width: auto;
}
.footer-mb .footer-social .social-item.social-fb {
  background-color: #3b5998;
}
.footer-mb .footer-social .social-item.social-twitter {
  background-color: #55acee;
}
.footer-mb .footer-social .social-item.social-gg {
  background-color: #dd4b39;
}
.footer-mb .footer-text p {
  padding: 4px;
}

@media (max-width: 1280px) {
  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-grid {
    display: grid;
  }

  /*-------------------------------------------------------------*/
}
@media (max-width: 1024px) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-grid {
    display: grid;
  }

  /*-------------------------------------------------------------home*/
  .farm-wrapper {
    margin-left: 0;
  }

  /*-------------------------------------------------------------detail*/
  .detail-wrapper {
    padding: 20px;
    margin-top: 56px;
    font-family: "Hind", sans-serif;
  }
  .detail-wrapper .detail-title {
    font-size: 25px;
    font-weight: 700;
    color: #3daa12;
  }
  .detail-wrapper .detail-sapo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .detail-wrapper .detail-content p {
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
  }
  .detail-wrapper .detail-related .box-articles__img {
    width: 35%;
  }
  .detail-wrapper .detail-related .box-articles__title {
    color: #004370;
  }
  .detail-wrapper .detail-related .box-articles__public {
    font-weight: bold;
  }
  .detail-wrapper .author {
    font-size: 20px;
  }
  .detail-wrapper .box-detail .detail-tags .tag-link {
    color: #3daa12;
  }
}
@media (max-width: 768px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-grid {
    display: grid;
  }
}
@media (max-width: 640px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-grid {
    display: grid;
  }
}

/*# sourceMappingURL=style.css.map */
